<h3 class="title"><%= @facade.movie.title %></h3>

<%= button_to "Create Viewing Party for #{@facade.movie.title}",
  new_movie_viewing_party_path(@facade.movie.id),
  method: :get %>

<h5 class="vote_avg">Vote: <%= @facade.movie.vote_average %></h5>
<h5 class="runtime">Runtime: <%= format_runtime(@facade.movie.runtime) %></h5>
<h5 class="genre">Genre: <% @facade.movie.genres.each do |genre| %>
    <ul><li><%= genre[:name]%></li></ul>
  <% end %>
</h5>

</br>

<div class ="summary">
  <h4>Summary</h4>
  <p><%= @facade.movie.overview %></p>
</div>

</br>

<h4>Cast</h4>
<% @facade.credits.cast.each do |cast_member| %>
  <div class="cast">
      <p>Actor: <%= cast_member[0] %> as Character: <%= cast_member[1]%></p>
  </div>
<% end %>

<div class="reviews">
<h4><%= @facade.reviews.review_count %> Reviews</h4>
  <% @facade.reviews.all_reviews.each do |review| %></p>
    <ul><li><%= review %></li></ul>
  <% end %>
</div>
