<div class="top-container">
<h2>Discover Movies</h2>
<%= image_tag 'delaney-van-HqA7l8IbhmY-unsplash.jpg', title: "vhs movies", class: "photo", size: "500x380"  %>

</br></br></br>

<%= button_to "Find Top Rated Movies", movies_path, method: :get %>

  </br>
  <div class="search-movies">
    <%= form_with url: movies_path, method: :get, local: true do |f| %>
      <%= f.label :keyword, "Search:" %>
      <%= f.text_field :keyword %>
      <%= f.submit "Find Movies" %>
    <% end %>
  </div>
</div>