  <h2><%= @user.name %>'s Dashboard</h2>
  <hr>

  <div class="row">
  <div class="col-sm-6">
    <div class="admin column-header">
      <p class="mr-auto">Parties Invited To:</p>
    </div>

    <div class="invited_to_parties">
      <% @user.invitations.each do |party|%>
        <p><%= image_tag "#{party.movie_details[:image]}", size: "60x80" %></p>
        <p><%= link_to "#{party.movie_details[:title]}", movie_path(party.movie_details[:movie_id]) %></p>
        <p><%= party.movie_details[:party_date].strftime("%B %d, %Y") %></p>
        <p><%= party.movie_details[:party_time].strftime("%I:%M%p") %></p>
        <p>Invited</p>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="admin column-header">
      <p class="mr-auto">Parties Hosting: </p>
    </div>
    <div class="hosting_parties">
      <% @user.parties_hosting.each do |party| %>
        <p><%= image_tag "#{party.movie_details[:image]}", size: "60x80" %></p>
        <p><%= link_to "#{party.movie_details[:title]}", movie_path(party.movie_details[:movie_id]) %></p>
        <p><%= party.movie_details[:party_date].strftime("%B %d, %Y") %></p>
        <p><%= party.movie_details[:party_time].strftime("%I:%M%p") %></p>
        <p>Hosting</p>
      <% end %>
    </div>
  </div>
</div>
