<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite7</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
        <% flash.each do |type, notice| %>
          <h5 class="text-info"><b><%= notice %></b></h5>
        <% end %>
    </div>

    <h1>Viewing Party</h1>
    <%= link_to "Home", root_path %>
    <%# if current_user %>
      <%= link_to "Log Out" %>
    <%# else %>
      <%= button_to "Create a New User", register_path, method: :get %>
      <%= link_to "Log In", login_path %>
    <%# end %>
    <%= yield %>
  </body>
</html>
